@use '../../../global-variables.scss' as *;

.army-editor {
  /** In this case, it is possible to click even empty spaces. Modify cursor accordingly. */
  .army-image {
    cursor: pointer;
  }

  .current-armies {
    margin-top: 5px;
  }

}

.army-editor-submodal {

  .modal-dialog {
    min-width: 542px;

    @include desktop-only {
      min-width: 566px;
    }
  }

}