@use '../../../global-variables.scss' as *;

.artifact-editor .current-artifacts {
  margin-top: 5px;
}

.artifact-editor-submodal {

  .modal-dialog {
    min-width: 510px;

    @include desktop-only {
      min-width: 638px;
    }
  }

  .modal-body {
    min-height: 185px;

    @include desktop-only {
      min-height: 233px;
    }
  }

}