@use '../../../global-variables.scss' as *;

.city-editor {

  input {
    width: 200px;
    margin: auto;
  }

  /** In this case, it is possible to click even empty spaces. Modify cursor accordingly. */
  .army-image {
    cursor: pointer;
  }

  .currently-trainable-armies {
    display: inline-flex;
    margin-bottom: 5px;
  }

  /** Vertically centers text. */
  .available-text {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
  }

  /** Utopia is a special name for the city. Highlight it. */
  .utopia {
    color: green;
    font-weight: bold;
  }

  /** Cities should not share names. Highlight this problem. */
  .duplicate {
    color: red;
    font-weight: bold;
  }

}

.city-editor-trainable-submodal {

  .modal-dialog {
    min-width: 502px;

    @include desktop-only {
      min-width: 566px;
    }
  }

}
