.online-game-element {

  /** User images. */
  img, .ai {
    margin: 2px;
    width: 46px;
    height: 46px;
  }

  .ai {
    background-color: #999;
  }

  /** Eliminated players are crossed out. */
  .eliminated {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 46px;
    height: 46px;
    color: red;
  }

  /** Red border around current user's profile image. */
  .current-player-image {
    background: red;
  }

}
