@use '../../global-variables.scss' as *;

$side-menu-padding: 4px;

.game-screen {
  height: 100%;

  .side-menu {
    position: absolute;
    width: $side-menu-mobile;
    height: 100vh;
    padding: $side-menu-padding;
    z-index: 1; // GroupInfo has a "show hero detail" icon that overflows into the TacticalMap
    background-image: url('../common/images/parchment-middle.webp');
    background-position: center;
    background-size: 110%;

    @include desktop-only {
      width: $side-menu-desktop;
    }
  }

  .center-area {
    position: absolute;
    left: $side-menu-mobile;
    right: $side-menu-mobile;
    height: 100vh;
    border-left: 1px solid black;
    border-right: 1px solid black;

    @include desktop-only {
      left: $side-menu-desktop;
      right: $side-menu-desktop;
    }
  }

  .right-area {
    right: 0;
    display: flex;
    flex-direction: column;
  }

  .right-top-area {
    width: 100%;
    height: calc(#{$side-menu-mobile} - 2 * #{$side-menu-padding});
    border: 1px solid black;

    @include desktop-only {
      height: calc(#{$side-menu-desktop} - 2 * #{$side-menu-padding});
    }
  }

  .right-bottom-area {
    position: relative; // Required by child elements that use absolute position
    flex: 1;
    margin-top: $side-menu-padding;
  }

  /** While groups are moving, this invisible overlay is displayed above entire screen and thus prevents all user inputs. */
  .animation-overlay {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  /** Notification in the right-bottom corner. */
  .toast {
    position: absolute;
    bottom: 0px;
    width: 385px;
    text-align: center;
    font-size: 18px;

    background: none;
    backdrop-filter: none;
    border: none;
    box-shadow: none;
  }

}
