@use '../../global-variables.scss' as *;

.game-over-screen {

  img {
    margin-top: -15px;
    width: 65%;
    background-size: cover;
    mask-image: linear-gradient(to right, transparent, black 6%, black 94%, transparent),
                linear-gradient(to bottom, transparent, black 6%, black 94%, transparent);
    mask-composite: intersect;
  }

  .description {
    padding-top: 12px;
  }

  @include desktop-only {

    .modal-dialog {
      width: 600px;
    }
  
    img {
      width: 100%;
    }

    .description {
      padding-top: 30px;
    }

  }

}
