.initial-loading-screen {
  .fade-out-1 {
    animation: fadeOut 0.5s forwards;
  }

  .fade-out-2 {
    animation: fadeOut 1s 0.7s forwards !important;
  }

  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; display: none; }
  }
}
