@use '../../global-variables.scss' as *;
@use '../side-areas/TwoItemsPerColumnContainer.scss' as *;

$side-menu-padding: 4px;
$side-menu-border: 1px;

.map-zoomed-screen {
  display: flex;
  gap: $side-menu-border;
  background: black;

  .side-menu {
    width: calc(50vw - 50vh - $side-menu-border);
    min-width: calc(2 * ($side-menu-padding + $button_size_mobile));
    padding: $side-menu-padding;
    background-image: url("../common/images/parchment-middle.webp");
    background-position: center;
    background-size: 110%;

    @include desktop-only {
      min-width: calc(2 * ($side-menu-padding + $button_size_desktop));
    }
  }

  .center-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../common/images/parchment-middle.webp");
    background-position: center;
    background-size: 110%;

    .map-wrapper {
      aspect-ratio: 1 / 1;
    }
  }
}
