@use '../../global-variables.scss' as *;

.new-game-players-screen {

  .modal-dialog {
    min-width: 510px;
  }

  .row {
    cursor: pointer;
    padding: 2px 0;

    /** Add some line-spacing on desktop. */
    @include desktop-only {
      padding: 7px 0;
    }
  }

}

.new-game-players-submodal {
  background: rgba(0, 0, 0, 0.3);

  .modal-dialog {
    width: 350px;
  }

  .modal-body {
    padding: 0 30px;
  }

  .error-text {
    color: red;
    margin: 8px;
  }

  .display-output-select {
    display: inline-block;
    width: 85px;
    margin-right: 15px;
  }

}
