@use '../../global-variables.scss' as *;

.new-game-screen {

  .modal-dialog {
    min-width: 510px;
  }

  .modal-body {
    height: 160px;

    @include desktop-only {
      height: 205px;
    }
  }

  .map {
    float: left;
    border: 1px solid black;
    width: 150px;
    height: 150px;

    @include desktop-only {
      width: 200px;
      height: 200px;
    }
  }

  .map-hidden {
    cursor: pointer;
  }

  .right {
    height: 100%;

    > * {
      width: 200px;
    }
  }

}
