@use '../../global-variables.scss' as *;

.timeline-screen {

  .modal-dialog {
    width: 430px;
  }

  .modal-body {
    height: 189px;
  }

  @include desktop-only {

    .modal-dialog {
      width: 600px;
    }

    .modal-body {
      height: 330px;
    }

  }

  .row {
    padding: 1px 0;

    /** Add some space on desktop. */
    @include desktop-only {
      padding: 9px 0;
    }
  }

}
