@use '../global-variables.scss' as *;

.screen-orientation-reminder {
  display: flex;
  position: absolute;
  z-index: 100000;
  inset: 0;
  font-size: 2rem;
  background: radial-gradient(rgba(200, 200, 200, 1), rgba(200, 200, 200, 0.5));

  div {
    width: 100%;
    align-self: center;
    text-align: center;
  }

  // If the screen is already in landscape orientation, don't display the reminder.
  @media only screen and (orientation: landscape) {
    display: none;
  }

  // If the content fits the screen even without the landscape orientation, don't display the reminder.
  @include desktop-only {
    display: none;
  }
}
