
.strategic-map {

  /** Stretch div holding canvas to fill all available space. */
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; // After shrinking the window, map may overflow until resize event resolves. Until then, hide overflow. Otherwise scrollbars would appear and resize event would retrieve wrong size.

  /** Cursor shape over map. */
  .clickable {
    cursor: zoom-in;
  }

  /** Both canvases have to be on the same position. */
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

}
