@use '../../global-variables.scss' as *;

.city-modal {

  .modal-dialog {
    width: 100%; // Stretch the modal so we can see the map as big as possible on mobile.
    max-width: 750px; // Size on desktop
  }

  /** Stretch the modal so we can see the map as big as possible on mobile. However, we need some limits so it isn't ugly big. */
  .modal-body {
    height: calc(min(100vh - 150px, 50vw - 62px)); // 150px is the content above and below modal body. 62px is the content on the sides of the modal.
    max-height: 350px; // Size on desktop
  }

  /** Map is on the left half of the modal. */
  .map-part {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: calc(50% - 6px);
  }

  /** Content is on the right half of the modal. */
  .content-part {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% + 6px);
    right: 15px;
    padding-left: 8px;
  }

  /** On desktop, each modal dialog body receives an extra padding. It however breaks the absolute position, so we need to compensate. */
  .map-part, .content-part {
    @include desktop-only {
      top: 16px;
      bottom: 16px;
    }
  }
}

.submodal-building .modal-dialog {
  width: 390px;

  @include desktop-only {
    width: 500px;
  }
}
