@use '../../global-variables.scss' as *;

.combat-modal {

  .modal-dialog {
    min-width: 574px;
  }

  .str-lower {
    color: red;
  }

  .str-higher {
    color: green;
  }

  /** On mobile, button is on the same line with list of attacking armies. Move the button to front, otherwise it won't be clickable. */
  .btn {
    z-index: 1;
  }

  /** On mobile, move the footer with button so that it overlaps attacking armies. Since there are at most 8 small images, there is space. */
  .modal-content .modal-footer { // Add weight to the rule.
    margin-top: -62px;
    
    @include desktop-only {
      margin-top: 0;
    }
  }

  /** When there are more than 16 defending armies, we have a serious lack of space. Save wherever possible. */
  &.big-combat {
    @media only screen and (max-height: 770px) {

      .modal-title {
        display: none;
      }

      /** Above 770px everything can be displayed. Under 600px army images will be half size. Interval between these two is critical. */
      @include desktop-only {
        .modal-header {
          display: none;
        }

        .my-2, .mb-4 {
          margin-bottom: 0 !important;
        }

        .modal-footer {
          margin-top: -34px;
        }
      }
    }
  }

}
