
.error-message-modal {
  z-index: 10001; // Ensures that this is in front of other modal windows.
  background: rgba(0, 0, 0, 0.3);

  .modal-dialog {
    width: 400px;
  }

  .modal-body {
    text-align: center;
  }

}
