@use '../../global-variables.scss' as *;

.exploring-modal {

  .modal-dialog {
    min-width: 500px;
  }

  /** Center the image, add border, resize it depending on screen size. */
  /** On small screen, message is written over the partially transparent image to save space. */
  .exploring-image {
    background-image: url('../common/images/illustrationRuin.jpg');
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to right, transparent, black 6%, black 94%, transparent),
                linear-gradient(to bottom, transparent, black 6%, black 94%, transparent);
    mask-composite: intersect;
    width: 100%;
    height: 195px;
    margin-top: -15px;
    animation: fadeToOpacity 0.5s 2s forwards;
  }

  .message {
    position: absolute;
    top: 27px;
  }

  /** On small screen, hide the image of the artifact, because there is no room for it. */
  .line-image {
    display: none;
  }

  /** On large screen, text is under image. */
  @include desktop-only {
    .exploring-image {
      aspect-ratio: 4 / 3;
      height: initial;
      animation: none;
    }

    .message {
      position: relative;
      top: 10px;
    }

    .line-image {
      display: block;
    }
  }

  .exploring-image.ship {
    background-image: url('../common/images/illustrationShip.jpg');
  }

  .exploring-image.sage {
    background-image: url('../common/images/illustrationSage.jpg');
  }

  @keyframes fadeToOpacity {
    to { opacity: 0.22; }
  }

  .line-0 {
    visibility: hidden;
    animation: makeVisible 0s 2s forwards;
  }

  .line-1 {
    visibility: hidden;
    animation: makeVisible 0s 4s forwards;
  }

  .line-2, .line-3, button {
    visibility: hidden;
    animation: makeVisible 0s 4.75s forwards;
  }

  @keyframes makeVisible {
    to { visibility: visible; }
  }

}
