@use '../../global-variables.scss' as *;

.hero-offer-modal {

  .modal-dialog {
    width: 500px;
  }

  .map-border {
    border: 1px solid black;
    width: 140px;
    height: 140px;

    @include desktop-only {
      width: 185px;
      height: 185px;
    }
  }

  .portrait-border {
    border: 1px solid black;
    background: black;
    transform: translate(-23%, 23%) scale(1.46);

    @include desktop-only {
      transform: translate(-47.5%, 47.5%) scale(1.95);
    }
  }

}
