@use '../../global-variables.scss' as *;

.hero-modal {

  .modal-dialog {
    min-width: 510px;

    @include desktop-only {
      min-width: 638px;
    }
  }

  /**
   * HeroModal is the only modal that needs to be scrollable, because there may be an unlimited number of artifacts on ground.
   * However, allowing scrolling on the smallest screen caused scrolling a few pixels even when there were no artifacts on the ground.
   * This fixes that scrolling without breaking the scrolling when needed; unlike overflow: hidden.
   */
  .modal-content {
    margin-top: -8px !important;
  }

  /** Enforce same minimal size for all subpages. The reason we use "minimal" is that there may be many artifacts on the ground. */
  .modal-body {
    min-height: 168px;

    @include desktop-only {
      min-height: 246px;
    }
  }

  /** Hero's face is on the right and enlarged. */
  .hero-portrait-right {
    position: absolute;
    right: 16px;
    border: 1px solid black;
    background: black;
    transform: translate(-15%, 15%) scale(1.3);

    @include desktop-only {
      transform: translate(-47.5%, 47.5%) scale(1.95);
    }
  }

}
