.manual-modal {

  .modal-dialog {
    width: 462px;
  }

  .line {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }

  .path-symbols {
    display: inline-block;
    background-image: url('../map/tactical-map/sprites/path.webp');
    width: 36px;
    height: 36px;

    &.target-with-return {
      background-position: -78px -14px;
    }

    &.target-no-return {
      background-position: -142px -14px;
    }
  }

  /** Picture of the hero styled to look the same way as the button in GroupInfo. */
  .hero {
    margin-left: -38px;
    margin-right: -30px;
    padding: 12px;
    transform: scale(0.4);
    border-radius: 10px;
    background-color: sandybrown; // Fallback for browsers not supporting gradient
    background-image: linear-gradient(#f0ba8a, #ec903e);
  }

  /** Make all elements in the calculator the same size. */
  .calculator .form-control {
    width: 70px;
    text-align: center;
  }

}
