@use '../../global-variables.scss' as *;

.place-info-modal {

  /** Set width exactly so that the armies are grouped 8 per line. */
  .modal-dialog {
    min-width: 475px;

    @include desktop-only {
      min-width: 574px;
    }
  }

  .structure-name {
    max-width: 270px;
  }

  p {
    text-wrap: balance;
  }

}
