@use '../../global-variables.scss' as *;

.army-image {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: relative;
  top: -8px;
  left: -8px;
  transform: scale(0.5);

  &:not(.always-small) {
    /** Standard size for desktop resolution. */
    @include desktop-only {
      width: 64px;
      height: 64px;
      top: 0;
      left: 0;
      transform: initial;
    }
  }

  /** Change cursor if the army is selectable. */
  &.selectable {
    cursor: pointer;
  }

  /** Place all parts on same position */
  .image, .circle, .damaged {
    position: absolute;
    width: 64px;
    height: 64px;
  }

  /** Glowing border for blessed army. */
  .blessed {
    filter: drop-shadow(0 0 5px yellow);
  }

  /** Circle background for selectable and selected. */
  .circle {
    border: 4px solid;
    border-radius: 50%;

    &.selected { border-color: white; }
    &.selected.selected-blessed { border-color: yellow; }
    &:not(.selected) { border-color: #999; }
  }

  /** Army image is in front of the circle. */
  .image {
    background-image: url('../map/tactical-map/sprites/armies.webp');
    z-index: 1;
  }

  /** Damaged image is in front of both the circle and army image. It uses fade-away animation. */
  .damaged {
    background-image: url('../map/tactical-map/sprites/armies.webp');
    background-position: -320px -256px;
    z-index: 2;
    animation: fadeout 600ms;
    opacity: 0;
  }

  @keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
}
