@use '../../global-variables.scss' as *;

.artifact-image {

  .image-border {
    display: inline-block;
    border: 2px solid #433;
    background: #433;
    margin: 2px;

    /** Change cursor if the artifact is selectable. */
    &.selectable {
      cursor: pointer;
    }
  }

  .image-content {
    background-image: url('images/artifacts.webp');
    width: 64px;
    height: 64px;
    margin: -8px;
    transform: scale(0.75);
    
    &.always-large {
      margin: 0;
      transform: initial;
    }

    @include desktop-only {
      margin: 0;
      transform: initial;
    }
  }

  p {
    margin: 10px 0;
    text-wrap: balance;
  }

}
