@use '../../global-variables.scss' as *;

.icon-image {
  display: inline-block;
  vertical-align: bottom; // If this element is added into "label" or other line-element, extra 4px would be added to height without this.

  div {
    width: 26px;
    height: 26px;
    background-image: url('images/icons.webp');
  }

  /** Enlarge the icon on desktop screen. */
  @include desktop-only {
    padding: 6.5px; // 26 + 2 * 6.5 = 26 * 1.5

    div {
      transform: scale(1.5);
    }
  }

}
