.modal-title-with-flags {

  .caption {
    position: absolute;
    left: 110px;
    right: 110px;
  }

  .left {
    position: absolute;
    left: 20px;
    transform: scaleX(-1);
  }

  .right {
    position: absolute;
    right: 20px;
  }

}
