/** While working, cover the list so it is not clickable. */
.pageable-list-working {
  position: absolute;
  inset: 0;
  z-index: 1000;

  /** Place the working symbol in the middle of the list. */
  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.pageable-list-footer {
  margin: 12px -12px;
}
