.spinner3 {
  margin: 0 auto 0;
  width: 70px;
  text-align: center;
}

.spinner3 > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 2.8s infinite ease-in-out both;
}

.spinner3 .bounce1 {
  animation-delay: -0.64s;
}

.spinner3 .bounce2 {
  animation-delay: -0.32s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0);
  } 40% { 
    transform: scale(1.0);
  }
}
