
.tactical-map {

  /** Stretch div holding canvas to fill all available space. */
  width: 100%;
  height: 100%;
  overflow: hidden; // After shrinking the window, map may overflow until resize event resolves. Until then, hide overflow. Otherwise scrollbars would appear and resize event would retrieve wrong size.

  /** Hide sprite sheet images. They are used only to load images. */
  img {
    display: none;
  }

}
