@use '../../global-variables.scss' as *;

.army-group-info {

  /** Enforce one army per line. */
  .army-image-with-move {
    display: inline-flex; // Vertically align children elements. 
    align-items: center;  // Vertically align children elements.
    min-width: 100%; // More is required for icon with "hero detail".
    height: 40px;

    @include desktop-only {
      height: 64px;
    }
  }

  /** Outer border of move progressbar. */
  .move {
    margin-left: 4px;
    display: inline-block;
    position: relative; // Required because child element uses position: absolute.
    text-align: center;
    width: 30px;
    height: 15px;
    border: 1px solid #433;
  }

  /** Inner area of move progressbar. */
  .move-indicator {
    max-width: 100%;
    height: 100%;
    background-color: green;
  }

  /** Inner area of second move progressbar for armies with a lot of move left. It is on top of the standard move indicator. */
  .move-indicator-2 {
    position: absolute;
    top: 0;
    z-index: 1;
    max-width: 100%;
    height: 100%;
    background-color: lightgreen;
  }

  /** Inflate the area around activation radio. This makes it easy to click it - the event handler is on the area. */
  .activate-group {
    display: inline-block;
    margin: 5px;
  }

  /** Cursor shape over activation radio. */
  .activate-group, .activate-group input[type="radio"] {
    cursor: pointer;
  }

  .activate-group input[type="radio"] {
    transform: scale(1.2);
    margin-left: 2px;
  }

  /** On desktop, increase size of all elements and spaces between them. */
  @include desktop-only {
    .move, .activate-group input[type="radio"] {
      transform: scale($desktop-scale);
      margin-left: 12px;
    }
  }

  /** For heroes, an additional button for inspecting is available. It contains the hero's portrait. */
  .hero {
    position: relative;
    padding: 12px;
    margin-left: -33px;
    transform: scale(0.32);
    border-radius: 10px;
    cursor: pointer;

    @include desktop-only {
      margin-left: -15px;
      transform: scale(0.57);
    }
  }

  /** If there is some additional action for hero, such as unexplored ruin, highlight the inspecting button. */
  .hero.flashing {
    background: sandybrown;
    animation: flashing 0.4s 3.5;
  }

  /** Triangle arrow pointing left. */
  .hero::before {
    content: "";
    position: absolute;
    left: -10px;
    top: calc(50% - 10px);
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent sandybrown transparent transparent;
  }

  @keyframes flashing {
    0% { background: crimson; }
    50% { background: sandybrown; }
    100% { background: crimson; }
  }

  button {
    width: 100%;
    margin-bottom: 2px;
    font-size: 14px;
  }

}
