@use '../../global-variables.scss' as *;

.kingdom-info {
  position: relative;
  height: 100%;

  .item {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);

    /** On desktop, increase size of items. */
     @include desktop-only {
      font-size: $desktop-scale * 1em;
     }

    .icon {
      margin-bottom: 0.4em;
    }

  }

  .item:first-child {
    top: 10%;
  }

  .item:nth-child(2) {
    top: 30%;
  }

  .item:nth-child(3) {
    top: 50%;
  }

  .item:nth-child(4) {
    top: 70%;
  }

  .item:nth-child(5) {
    top: 90%;
  }

}
