@use '../../global-variables.scss' as *;

$button_size_mobile: 46px;
$button_size_desktop: 71px;

.two-items-per-column-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  .button-row {
    flex: 1;
    max-height: $button_size_mobile;
    position: relative;
    display: flex;

    /** On desktop, there is enough space for bigger rows. */
    @include desktop-only {
      max-height: $button_size_desktop;
      font-size: 24px;
    }

    .btn {
      width: $button_size_mobile;
      height: 100%;
      padding: 0;

      @include desktop-only {
        width: $button_size_desktop;
      }

      /** Button captions. Not displayed on mobile. */
      .caption {
        display: none;
        font-size: 14px;
        margin-top: 6px;
  
        @include desktop-only {
          display: block;
        }
  
        /** Highlight the letter of a keyboard shortcut. */
        b {
          color: crimson;
        }
      }
    }
  }
}
