
/** Screen media breakpoint for desktop display. */
@mixin desktop-only {
  @media only screen and (min-width: 638px) and (min-height: 600px) {
    @content;
  }
}


$side-menu-mobile: 100px;
$side-menu-desktop: 150px;

/**
* Some elements, mostly images and numbers, are scaled up on desktop from mobile size by this factor.
* Factor 1.6 = 64 / 40 is calculated from some table rows having height 40px on mobile and 64px on desktop.
*/
$desktop-scale: 1.6;
