@use './global-variables.scss' as *;

/** Global styles for entire application. */

/** Prevents padding of entire page with white strip when a dialog or toast menu is wider than page on small screen. */
html {
  overflow: hidden;
}

/** Stretch all outer containers so that application covers entire screen. */
html, body, #app, #menu-blocker {
  height: 100vh;
  touch-action: none; // Disable all gestures.
}

/** Custom font loaded from file. */
@font-face {
  font-family: 'akaFrivolity';
  src: url('gameui/common/akaFrivolity.otf');
}

body {
  user-select: none; // Prevent user selecting text.
  overflow-y: hidden; // Hides any extra content. Prevents scrolling when mobile phone buttons are displayed. Prevents refreshing the page by down gesture.
  color: #433;

  font-family: 'akaFrivolity';
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  /** Workaround for Firefox that makes the font too bold. Didn't happen a few years ago. */
  @-moz-document url-prefix() {
    font-weight: 500;
  }
}

/** Element styled as a link, but we don't want to see the href on hover. */
span.link {
  cursor: pointer;
  color: #007bff;

  &:hover {
    text-decoration: underline;
    color: #0056b3;
  }
}

/** Links styled as buttons should use same color as other text. */
a.btn {
  color: #433;
}

/** Enabled and disabled buttons to match parchment texture. */
.btn {
  color: #433 !important;
  outline: none !important; // Hide highlight border for buttons; for example focused/last clicked button.
  box-shadow: none !important;
  border-color: #888 !important;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.btn.disabled, .btn[disabled] {
  opacity: 1; // Since we're using background textures, disabled button can't use opacity.
  color: #A99;
  background-color: #ecb779;
}

/** When button is being pressed down, or when it is in "toggled" state, make it look flat. */
.btn:active, .btn.active {
  background-color: #ecb779 !important;
  background-image: none !important;

  /** To create the illusion of pressed down button that has no children, change padding to move the content 1 pixel to the bottom right. */
  padding: 7px 11px 5px 13px;

  /** To create the illusion of pressed down button that has children, move them 1 pixel to the bottom right. */
  > * {
    position: relative;
    top: 1px;
    left: 1px;
  }
}

.btn:not(.disabled):not([disabled]) {
  background-color: sandybrown; // Fallback for browsers not supporting gradient
  background-image: linear-gradient(#f0ba8a, #ec903e);
}

.btn:not(.disabled):not([disabled]):hover {
  background-color: #f0ba8a; // Fallback for browsers not supporting gradient
  background-image: linear-gradient(#ffca9a, #fca04e);
}

/** Form elements and dropdowns - color to match parchment texture. */
input.form-control, input.form-control:focus,
textarea, textarea:focus,
select.form-control, select.form-control:focus,
.dropdown-menu, .dropdown-item:hover {
  background-color: #F4E2B0;
  outline: none !important; // Hide highlight border.
  box-shadow: none !important;
  border-color: #888 !important;
}

/** Modal dialogs. */
.modal-dialog {

  /** Horizontally center the modal (including on mobile screen). */
  position: absolute;
  left: 50%;
  transform: translateX(-50%) !important;
  margin: 0 !important; // Without this, the modal would be slightly shifted to right.

  .modal-footer {
    border-top: 0; // Remove line between body and footer.
  }

  .modal-header {
    justify-content: center;
    margin: 0; // Allows longer title before breaking it to two lines.
    border-bottom: 0; // Remove line between header and body.
  }

  .modal-title {
    font-weight: 1000;
    font-size: 24px;
  }

  /** Background image to look like parchment. */
  .modal-content {
    background-image: url('gameui/common/images/parchment-top.webp'), url('gameui/common/images/parchment-bottom.webp'), url('gameui/common/images/parchment-middle.webp');
    background-position: top, bottom, center;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 100%;
    background-clip: padding-box, padding-box, content-box; // Don't apply middle background in the padded space on top and bottom of the modal.
    background-color: transparent;

    border: none; // Don't use the border and shadow of bootstrap modal window.
    box-shadow: none;

    padding: 13px 0; // Parchment ends are pushed away from borders. They partially overlap with central background, because on smaller
                     // resolution, the images are shrunk and there would be a gap between center and the ends.

    > div {
      margin: 0 15px;
    }
  }

  /** On mobile, hide the space around the body so we have more place for content. */
  .modal-body {
    padding-top: 0;
    padding-bottom: 0;

    @include desktop-only {
      box-sizing: content-box; // Because some components set their height directly, these padding are depending on the resolution.
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

}

/** Screen is a modal on the fullscreen wooden background. */
.screen {
  /** Background image under the modal. */
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./gameui/common/images/wood.webp');

  &.background-main-menu {
    background-size: cover;
    background-position: center;
    background-image: url('./gameui/common/images/backgroundMainMenu.jpg');
  }
  
  .modal-dialog {
    width: 400px;
  }

  /** Horizontally center content of the modal. */
  .modal-body {
    text-align: center;
  }

  .modal-footer {
    justify-content: center;
  }
}

/** Fixes the problem with letters such as "W", "Y" "g", "y" of our font "akaFrivolity" getting cut off. */
.prevent-cutting {
  padding: 10px; // Expand the element so that the text doesn't get cut off.
  margin: -10px; // But compensate it so that the elements don't move.
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
